**Key Features of Pandas**

    Fast and efficient DataFrame object with default and customized indexing.
    Tools for loading data into in-memory data objects from different file formats.
    Data alignment and integrated handling of missing data.
    Reshaping and pivoting of data sets.
    Label-based slicing, indexing and subsetting of large data sets.
    Columns from a data structure can be deleted or inserted.
    Group by data for aggregation and transformations.
    High performance merging and joining of data.
    Time Series functionality.

In [1]:
# import pandas and check the version
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.0.5

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

{'system': {'commit': None, 'python': '3.6.9.final.0', 'python-bits': 64, 'OS': 'Linux', 'OS-release': '4.19.112+', 'machine': 'x86_64', 'processor': 'x86_64', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'en_US.UTF-8', 'LOCALE': 'en_US.UTF-8'}, 'dependencies': {'pandas': '1.0.5', 'numpy': '1.18.5', 'pytz': '2018.9', 'dateutil': '2.8.1', 'pip': '19.3.1', 'setuptools': '49.6.0', 'Cython': '0.29.21', 'pytest': '3.6.4', 'hypothesis': None, 'sphinx': '1.8.5', 'blosc': None, 'feather': '0.4.1', 'xlsxwriter': None, 'lxml.etree': '4.2.6', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': '2.7.6.1 (dt dec pq3 ext lo64)', 'jinja2': '2.11.2', 'IPython': '5.5.0', 'pandas_datareader': '0.8.1', 'bs4': '4.6.3', 'bottleneck': '1.3.2', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.2.2', 'numexpr': '2.7.1', 'odfpy': None, 'openpyxl': '2.5.9', 'pandas_gbq': '0.11.0', 'pyarrow': '0.14.1', 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.4.1', 'sqlalchemy': '1.3.19', 'tables': '3.4.4', 'tabulate': '0.8.7', 'xarray': '0.15.1', 'xlrd': '1.1.0', 'xlwt': '1.3.0', 'numba': '0.48.0'}}
None

Pandas deals with the following three data structures −

    Series
    DataFrame
    Panel (deleted in the new version of pandas)

**Series**

In [2]:
"""
Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
The axis labels are collectively called index.
"""
s = pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

In [3]:
# Create a Series from ndarray
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
# Create a Series from dict
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

**DataFrame**

In [5]:
"""
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

Features of DataFrame:
    Potentially columns are of different types
    Size – Mutable
    Labeled axes (rows and columns)
    Can Perform Arithmetic operations on rows and columns

"""
# create df from list of lists
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data, columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [6]:
# create an indexed DataFrame using arrays.
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [7]:
# deleating rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)
print("_________________________________")

# Drop rows with label 0
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
_________________________________
   a  b
1  3  4
1  7  8

In [8]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['c','b'])

df = df.append(df2)
print(df)
print("_________________________________")

# Drop rows with label 0
df = df.drop(0)
print(df)

     a  b    c
0  1.0  2  NaN
1  3.0  4  NaN
0  NaN  6  5.0
1  NaN  8  7.0
_________________________________
     a  b    c
1  3.0  4  NaN
1  NaN  8  7.0

In [9]:
# sorting by value
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print(unsorted_df)

       col2      col1
1 -0.286974  0.452796
4  0.595418  0.359579
6 -0.747541  1.390646
2  0.244980  1.638780
3 -0.120768 -1.816769
5  0.117631 -1.153367
9 -0.179517  0.510634
8  0.954876  1.078877
0  0.135731 -0.163368
7 -0.959338  0.446719

In [10]:
# sorting by label
# unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
sorted_df=unsorted_df.sort_index()
print(sorted_df)

       col2      col1
0  0.135731 -0.163368
1 -0.286974  0.452796
2  0.244980  1.638780
3 -0.120768 -1.816769
4  0.595418  0.359579
5  0.117631 -1.153367
6 -0.747541  1.390646
7 -0.959338  0.446719
8  0.954876  1.078877
9 -0.179517  0.510634

**Statistical Functions**

In [11]:
# Percent_change
# This function compares every element with its prior element and computes the change percentage.
s = pd.Series([1,2,3,4,5,4])
print(s.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

In [12]:
# Covariance is applied on series data.
sampleSize = 10
print("sampleSize =", sampleSize)
s1 = pd.Series(np.random.randn(sampleSize))
s2 = pd.Series(np.random.randn(sampleSize))
print("s1.cov(s2) =", s1.cov(s2))
sampleSize = 100
print("sampleSize =", sampleSize)
s1 = pd.Series(np.random.randn(sampleSize))
s2 = pd.Series(np.random.randn(sampleSize))
print("s1.cov(s2) =", s1.cov(s2))

sampleSize = 1000000
print("sampleSize =", sampleSize)
s1 = pd.Series(np.random.randn(sampleSize))
s2 = pd.Series(np.random.randn(sampleSize))
print("s1.cov(s2) =", s1.cov(s2))

sampleSize = 10
s1.cov(s2) = 0.020000767618468897
sampleSize = 100
s1.cov(s2) = 0.02574804894601903
sampleSize = 1000000
s1.cov(s2) = 0.0009958413121133492

In [13]:
# Covariance method when applied on a DataFrame, computes cov between all the columns.
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print ("frame =\n", frame)
print("So we have 5 samples,10 elements each, layed out as columns of data frame") 
print("frame['a'].cov(frame['b']) =", frame['a'].cov(frame['b']))
print(frame.cov())

frame =
           a         b         c         d         e
0 -0.764791 -0.682658  2.484539  0.675687  0.136733
1  0.862858 -0.161897 -1.376253  0.321799  0.322868
2  0.142292  0.532128 -0.466497 -0.367326  0.203786
3  0.722607  0.371372  0.292750  2.110391 -0.699513
4 -0.819899 -0.482421  1.763582  0.479052  0.485518
5  0.663400 -0.510215 -1.148160 -1.213593 -0.228409
6 -0.674011 -0.765246 -1.677985 -0.122874 -0.195590
7  1.351333  1.660894  0.463135 -1.166605  0.258119
8 -0.909829 -0.083789 -0.356372 -1.138247  0.161420
9 -0.548735  0.739116 -0.696003  0.138559  2.284331
So we have 5 samples,10 elements each, layed out as columns of data frame
frame['a'].cov(frame['b']) = 0.3569813317044745
          a         b         c         d         e
a  0.710377  0.356981 -0.298372 -0.055290 -0.197630
b  0.356981  0.585082 -0.029420 -0.129479  0.185570
c -0.298372 -0.029420  1.820991  0.468677 -0.032212
d -0.055290 -0.129479  0.468677  1.059326 -0.101340
e -0.197630  0.185570 -0.032212 -0.101340  0.616211

In [14]:
# Correlation shows the linear relationship between any two arrays of values (series). 
# There are multiple methods to compute the correlation like pearson(default), spearman and kendall.
"""
method{‘pearson’, ‘kendall’, ‘spearman’} or callable

    Method of correlation:

        pearson : standard correlation coefficient
        kendall : Kendall Tau correlation coefficient
        spearman : Spearman rank correlation
        callable: callable with input two 1d ndarrays
"""
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print(frame['a'].corr(frame['b']))
print(frame.corr())
print("----------------------")
print(frame.corr(method='kendall'))
print("----------------------")
print(frame.corr(method='spearman'))

0.15263945379942073
          a         b         c         d         e
a  1.000000  0.152639  0.100674  0.133272 -0.281549
b  0.152639  1.000000 -0.661141  0.301477 -0.075554
c  0.100674 -0.661141  1.000000 -0.007052 -0.031487
d  0.133272  0.301477 -0.007052  1.000000 -0.233641
e -0.281549 -0.075554 -0.031487 -0.233641  1.000000
----------------------
          a         b         c         d         e
a  1.000000  0.244444 -0.022222 -0.111111 -0.022222
b  0.244444  1.000000 -0.511111  0.111111 -0.155556
c -0.022222 -0.511111  1.000000  0.022222  0.111111
d -0.111111  0.111111  0.022222  1.000000 -0.155556
e -0.022222 -0.155556  0.111111 -0.155556  1.000000
----------------------
          a         b         c         d         e
a  1.000000  0.212121  0.006061 -0.127273 -0.151515
b  0.212121  1.000000 -0.696970  0.103030 -0.224242
c  0.006061 -0.696970  1.000000 -0.066667  0.212121
d -0.127273  0.103030 -0.066667  1.000000 -0.127273
e -0.151515 -0.224242  0.212121 -0.127273  1.000000

In [15]:
# transpose dataframe
d1 = {'col1': [1, 2], 'col2': [3, 4]}
df1 = pd.DataFrame(data=d1)
print(df1)
df1_transposed = df1.T
print("----------------------")
print(df1_transposed)

   col1  col2
0     1     3
1     2     4
----------------------
      0  1
col1  1  2
col2  3  4

***GroupBy***

In [16]:
ipl_data = {'Team': ['Riders', 'Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     1  2014     876
2   Riders     2  2015     789
3   Devils     2  2014     863
4   Devils     3  2015     673
5    Kings     3  2014     741
6    kings     4  2015     812
7    Kings     1  2016     756
8    Kings     1  2017     788
9   Riders     2  2016     694
10  Royals     4  2014     701
11  Royals     1  2015     804
12  Riders     2  2017     690

In [17]:
"""
Split Data into Groups

Pandas object can be split into any of their objects. 
There are multiple ways to split an object like −

    obj.groupby('key')
    obj.groupby(['key1','key2'])
    obj.groupby(key,axis=1)

"""
print(df.groupby('Team').groups)

{'Devils': Int64Index([3, 4], dtype='int64'), 'Kings': Int64Index([5, 7, 8], dtype='int64'), 'Riders': Int64Index([0, 1, 2, 9, 12], dtype='int64'), 'Royals': Int64Index([10, 11], dtype='int64'), 'kings': Int64Index([6], dtype='int64')}

In [18]:
# Group by with multiple columns
print(df.groupby(['Team','Year']).groups)
import pprint
print("------------")
pprint.pprint(df.groupby(['Team','Year']).groups)

{('Devils', 2014): Int64Index([3], dtype='int64'), ('Devils', 2015): Int64Index([4], dtype='int64'), ('Kings', 2014): Int64Index([5], dtype='int64'), ('Kings', 2016): Int64Index([7], dtype='int64'), ('Kings', 2017): Int64Index([8], dtype='int64'), ('Riders', 2014): Int64Index([0, 1], dtype='int64'), ('Riders', 2015): Int64Index([2], dtype='int64'), ('Riders', 2016): Int64Index([9], dtype='int64'), ('Riders', 2017): Int64Index([12], dtype='int64'), ('Royals', 2014): Int64Index([10], dtype='int64'), ('Royals', 2015): Int64Index([11], dtype='int64'), ('kings', 2015): Int64Index([6], dtype='int64')}
------------
{('Devils', 2014): Int64Index([3], dtype='int64'),
 ('Devils', 2015): Int64Index([4], dtype='int64'),
 ('Kings', 2014): Int64Index([5], dtype='int64'),
 ('Kings', 2016): Int64Index([7], dtype='int64'),
 ('Kings', 2017): Int64Index([8], dtype='int64'),
 ('Riders', 2014): Int64Index([0, 1], dtype='int64'),
 ('Riders', 2015): Int64Index([2], dtype='int64'),
 ('Riders', 2016): Int64Index([9], dtype='int64'),
 ('Riders', 2017): Int64Index([12], dtype='int64'),
 ('Royals', 2014): Int64Index([10], dtype='int64'),
 ('Royals', 2015): Int64Index([11], dtype='int64'),
 ('kings', 2015): Int64Index([6], dtype='int64')}

In [19]:
# Select a Group
# Looks like just a subset. 
# In other words, select statement, without groupby 
grouped = df.groupby('Year')
print(grouped.groups)
print(grouped.get_group(2016))
print(grouped.get_group(2014))

{2014: Int64Index([0, 1, 3, 5, 10], dtype='int64'), 2015: Int64Index([2, 4, 6, 11], dtype='int64'), 2016: Int64Index([7, 9], dtype='int64'), 2017: Int64Index([8, 12], dtype='int64')}
     Team  Rank  Year  Points
7   Kings     1  2016     756
9  Riders     2  2016     694
      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     1  2014     876
3   Devils     2  2014     863
5    Kings     3  2014     741
10  Royals     4  2014     701

In [20]:
"""
Aggregations
An aggregated function returns a single aggregated value for each group. 
Once the group by object is created, several aggregation operations can be performed on the grouped data.
"""
grouped = df.groupby('Year')
print("grouped.groups =", grouped.groups)
print(grouped['Points'].agg(np.mean))
# stopped here-------------------------

grouped.groups = {2014: Int64Index([0, 1, 3, 5, 10], dtype='int64'), 2015: Int64Index([2, 4, 6, 11], dtype='int64'), 2016: Int64Index([7, 9], dtype='int64'), 2017: Int64Index([8, 12], dtype='int64')}
Year
2014    811.4
2015    769.5
2016    725.0
2017    739.0
Name: Points, dtype: float64

**Missing data**

In [21]:
# 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)
print("-------------------")
# check if line contains nan
trueFalse = df['one'].isnull()
print("trueFalse =\n", trueFalse)
print("\ntype(trueFalse) =", type(trueFalse))
print("-------------------")
# check if line contains not nan
print(df['one'].notnull())

        one       two     three
a  0.690727  0.645930  0.213201
b       NaN       NaN       NaN
c -0.706877  1.520819 -0.684040
d       NaN       NaN       NaN
e  0.892759 -2.089769 -1.187272
f -2.002088  0.633610 -0.067759
g       NaN       NaN       NaN
h -0.928369 -0.750459  0.150985
-------------------
trueFalse =
 a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

type(trueFalse) = <class 'pandas.core.series.Series'>
-------------------
a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [22]:
print(df['one'].sum())
# 1 + pd.NaN
# 1 + int(None)

-2.0538476069084632

In [23]:
# Cleaning / Filling Missing Data
# Replace NaN with a Scalar Value

df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print(df)
print("-------------------------")
print(df.fillna(0))

        one       two     three
a  2.339507 -0.943395  0.731379
b       NaN       NaN       NaN
c -0.663180  1.138687  0.543533
-------------------------
        one       two     three
a  2.339507 -0.943395  0.731379
b  0.000000  0.000000  0.000000
c -0.663180  1.138687  0.543533

In [24]:
# Fill NA Forward and Backward
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'], columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print("----------pad---------------")
print(df.fillna(method='pad'))
print("---------backfill-----------")
print(df.fillna(method='backfill'))

        one       two     three
a  0.393731 -0.402584  0.438963
b       NaN       NaN       NaN
c  1.003070 -0.272362  0.024172
d       NaN       NaN       NaN
e  1.682793 -0.461182 -0.031264
f  1.277469 -0.143777  0.958843
g       NaN       NaN       NaN
h  0.721122  0.492104 -0.430619
----------pad---------------
        one       two     three
a  0.393731 -0.402584  0.438963
b  0.393731 -0.402584  0.438963
c  1.003070 -0.272362  0.024172
d  1.003070 -0.272362  0.024172
e  1.682793 -0.461182 -0.031264
f  1.277469 -0.143777  0.958843
g  1.277469 -0.143777  0.958843
h  0.721122  0.492104 -0.430619
---------backfill-----------
        one       two     three
a  0.393731 -0.402584  0.438963
b  1.003070 -0.272362  0.024172
c  1.003070 -0.272362  0.024172
d  1.682793 -0.461182 -0.031264
e  1.682793 -0.461182 -0.031264
f  1.277469 -0.143777  0.958843
g  0.721122  0.492104 -0.430619
h  0.721122  0.492104 -0.430619

In [25]:
# Drop Missing Values
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
print(df)
print("-------------------------")
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print("-------------------------")
# about dropna - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
print(df.dropna())
print("-------------------------")
print(df.dropna(axis=1))

        one       two     three
a -2.276796 -1.031772 -0.697222
c  1.337347 -2.044983 -0.592105
e -2.115874 -0.224064 -0.230724
f -0.218118 -0.679791  0.041632
h  0.032096 -0.262128 -0.524556
-------------------------
        one       two     three
a -2.276796 -1.031772 -0.697222
b       NaN       NaN       NaN
c  1.337347 -2.044983 -0.592105
d       NaN       NaN       NaN
e -2.115874 -0.224064 -0.230724
f -0.218118 -0.679791  0.041632
g       NaN       NaN       NaN
h  0.032096 -0.262128 -0.524556
-------------------------
        one       two     three
a -2.276796 -1.031772 -0.697222
c  1.337347 -2.044983 -0.592105
e -2.115874 -0.224064 -0.230724
f -0.218118 -0.679791  0.041632
h  0.032096 -0.262128 -0.524556
-------------------------
Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [32]:
# Reshape using Stack() and unstack() function in Pandas python
import pandas as pd
import numpy as np

header = pd.MultiIndex.from_product([['Semester1','Semester2'],['Maths','Science']])
d=([[12,45,67,56],[78,89,45,67],[45,67,89,90],[67,44,56,55]])
df = pd.DataFrame(d,index=['Alisa','Bobby','Cathrine','Jack'], columns=header)
df

         Semester1         Semester2
             Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [33]:
stacked_df=df.stack()
stacked_df

                  Semester1  Semester2
Alisa    Maths           12         67
         Science         45         56
Bobby    Maths           78         45
         Science         89         67
Cathrine Maths           45         89
         Science         67         90
Jack     Maths           67         56
         Science         44         55

In [28]:
unstacked_df = stacked_df.unstack()
unstacked_df

         Semester1         Semester2
             Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [29]:
# about stack - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html
stacked_df_lvl=df.stack(level=1)
stacked_df_lvl

                  Semester1  Semester2
Alisa    Maths           12         67
         Science         45         56
Bobby    Maths           78         45
         Science         89         67
Cathrine Maths           45         89
         Science         67         90
Jack     Maths           67         56
         Science         44         55

In [30]:
stacked_df_lvl=df.stack(level=0)
stacked_df_lvl

                    Maths  Science
Alisa    Semester1     12       45
         Semester2     67       56
Bobby    Semester1     78       89
         Semester2     45       67
Cathrine Semester1     45       67
         Semester2     89       90
Jack     Semester1     67       44
         Semester2     56       55